<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="idi.felixjulen.movieadmin">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/idi_mdb"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name=".presentation.controller.SplashViewController"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.controller.listView.MovieListViewController"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.controller.listView.CharacterListViewController"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.controller.listView.DirectorListViewController"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.controller.AboutViewController"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.controller.HelpViewController"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.controller.SettingsViewController"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.controller.singleEntityView.MovieViewController"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.controller.singleEntityView.CharacterViewController"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.controller.singleEntityView.DirectorViewController"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.controller.editEntityView.MovieEditViewController"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.controller.editEntityView.CharacterEditViewController"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.controller.editEntityView.DirectorEditViewController"
            android:screenOrientation="portrait" />
    </application>

</manifest>